:root{
    --text-color:#f0f4f5;
    --background-color: #263343;
    --accent-color: rgb(126, 235, 126);
}
body{
    margin: 0;
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color:var(--text-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}
.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
}
.navbar__logo i {
    color: var(--accent-color);
}
.navbar__logo a:hover{
    color: rgb(198, 196, 218);
}
.navbar__menu{
    display:flex;
    list-style: none;
    padding-left: 0;
}
.navbar__menu li{
    padding: 8px 12px;
}
.navbar__menu li:hover{
    background-color: var(--accent-color);/*#66a2d4*/
    border-radius: 4px;
}
.navbar__icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}
.navbar__icons li{
    padding: 8px 12px;
}
.navbar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}
@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align: center;
    }
    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toogleBtn{
        display: block;
    }
    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
}

/* .container{
    padding-top: 10px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.item{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: var(--background-color);
    color: var(--text-color);
}
.item1{

} */
